<md-toolbar class="md-primary">
	<div class="md-toolbar-tools">
		<i class="fa fa-bars menu-item" aria-hidden="true" ng-click="toggleLeft()"></i>
		<h2 class="md-flex menu-item"><a href="#/">{{::title}}</a></h2>
	</div>
</md-toolbar>

<section layout="row" flex>

	<md-sidenav
		class="md-sidenav-left"
		md-component-id="left"
		md-disable-backdrop
		md-whiteframe="4dp">

		<md-toolbar class="md-theme-indigo">
			<h1 class="md-toolbar-tools">{{::menuTitle}}</h1>
		</md-toolbar>
		<md-content layout-padding >
			<md-button ng-click="close()" class="md-primary" hide-gt-md>
			  Close Sidenav Left
			</md-button>
			<p hide show-gt-md>
			  This sidenav is locked open on your device. To go back to the default behavior,
			  narrow your display.
			</p>
		</md-content>
    </md-sidenav>
</section>
