<div class="jumbotron">
  <h1>Tests</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
</div>

<div class="row">
  <div class="form-group col-lg-3">
	<div class="treeList"
      data-angular-treeview="true"
      data-tree-id="list"
      data-tree-model="data"
      data-node-id="id"
      data-node-label="label"
      data-node-children="listaAgrupamientos" >
    </div>
  </div>
  <div class="form-group col-lg-9">
	<canvas tc-chartjs chart-type="pie" chart-data="chart.model" chart-options="chart.options"></canvas>
  </div>
</div>
