<div class="jumbotron">
  <h1>People</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
</div>

<div class="row" ng-repeat="person in people">
	<div>{{person.name}}</div>
	<div style="font-size: 20px">{{person.country}}</div>
</div>
